{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'App Name' %}{% endblock title %}
{% block content %}
<div class="row justify-content-center">
	<div class="col-lg-8 col-md-10 col-sm-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					{% if LANGUAGE_CODE == 'kk' %}
						Құпия сөзді қалпына келтіру
					{% elif LANGUAGE_CODE == 'en' %}
						Reset password
					{% else %}
						Сброс пароля
					{% endif %}
				</h4>
				<form  method="post">
					{% csrf_token %}
					<input  type="hidden"  name="next"  value="{{ next }}">
					{{ form|crispy }}
					<div class="div-button-center">
						<button  type="submit"  class="btn btn-primary btn-block">
							{% if LANGUAGE_CODE == 'kk' %}
								Құпия сөзді қалпына келтіру
							{% elif LANGUAGE_CODE == 'en' %}
								Reset password
							{% else %}
								Сброс пароля
							{% endif %}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content%}