{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'App Name' %}{% endblock title %}
{% block content %}
<h1>
	{% if LANGUAGE_CODE == 'kk' %}
		Құпия сөзді қалпына келтіру аяқталды!
	{% elif LANGUAGE_CODE == 'en' %}
		Password reset completed!
	{% else %}
		Сброс пароля завершен!
	{% endif %}
</h1>
<p><a href="{% url 'login' %}">
	{% if LANGUAGE_CODE == 'kk' %}
		Қайта кіру керек пе?
	{% elif LANGUAGE_CODE == 'en' %}
		Log in again?
	{% else %}
		Войти снова?
	{% endif %}
</a></p>
{% endblock content %}
