{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'App Name' %}{% endblock title %}
{% block header %}
	{% if LANGUAGE_CODE == 'kk' %}
		Құпия сөзді қалпына келтіруді растау
	{% elif LANGUAGE_CODE == 'en' %}
		Password reset confirmation
	{% else %}
		Подтверждение сброса пароля
	{% endif %}
{% endblock header %}
{% block content %}
	{% if validlink %}
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 col-sm-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							{% if LANGUAGE_CODE == 'kk' %}
								Құпия сөзді қалпына келтіруді растау
							{% elif LANGUAGE_CODE == 'en' %}
								Password reset confirmation
							{% else %}
								Подтверждение сброса пароля
							{% endif %}
						</h4>
						<form  method="post">
							{% csrf_token %}
							<input  type="hidden"  name="next"  value="{{ next }}">
							{{ form|crispy }}
							<div class="div-button-center">
								<button  type="submit"  class="btn btn-primary btn-block">
									{% if LANGUAGE_CODE == 'kk' %}
										Құпия сөзді қалпына келтіру
									{% elif LANGUAGE_CODE == 'en' %}
										Reset password
									{% else %}
										Сброс пароля
									{% endif %}
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<h1>
			{% if LANGUAGE_CODE == 'kk' %}
				Құпия сөзді қалпына келтіру сәтсіз аяқталды
			{% elif LANGUAGE_CODE == 'en' %}
				Password reset failed
			{% else %}
				Не удалось сбросить пароль
			{% endif %}
		</h1>
		<p>
			{% if LANGUAGE_CODE == 'kk' %}
				Құпия сөзді қалпына келтіру сілтемесі жарамсыз болды, себебі ол әлдеқашан пайдаланылған болуы мүмкін. Жаңа құпия сөзді қалпына келтіруді сұраңыз.
			{% elif LANGUAGE_CODE == 'en' %}
				The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
			{% else %}
				Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.
			{% endif %}
		</p>
	{% endif %}
{% endblock content %}
