{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'App Name' %}{% endblock title %}
{% block content %}
<h1>
	{% if LANGUAGE_CODE == 'kk' %}
		Құпия сөзді қалпына келтіру
	{% elif LANGUAGE_CODE == 'en' %}
		Password reset
	{% else %}
		Восстановление пароля
	{% endif %}
</h1>
<p>
	{% if LANGUAGE_CODE == 'kk' %}
		Электрондық поштаңызды тексеріңіз
	{% elif LANGUAGE_CODE == 'en' %}
		Check your email
	{% else %}
		Проверьте свою электронную почту
	{% endif %}
</p>
{% endblock content %}
