{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "bindings" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "bindings" %}</h2>
{% if binding.count > 0 %}
<div class="row">
	<table id="myTable" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th>{% trans "binding_construction" %}</th>
				<th>{% trans "binding_investor" %}</th>
				<!--<th></th>-->
				<th><a href="{% url 'binding_create'%}">{% trans "Add" %}</a></th>				
			</tr>
		</thead>
		<tbody>
			{% for n in binding %}
			<tr>
				<td>
					<p>{{ n.construction }}</p>	
				</td>
				<td>				
					<p>{{ n.investor }}</p>	
				</td>
				<td>
					<a href="{% url 'binding_edit' n.id %}">{% trans "Change" %}</a> |
					<a href="{% url 'binding_read' n.id %}">{% trans "View" %}</a> |
					<a onclick="return confirm('Удалить запись?')" href="{% url 'binding_delete' n.id %}">{% trans "Delete" %}</a>
				</td>			
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<a href="{% url 'binding_create'%}">{% trans "Add" %}</a>
{% endif %}
{% endblock content %}
