{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "newss" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "newss" %}</h2>
{% if news.count > 0 %}
<div class="row">
	<table id="myTable" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th><p>{% trans "daten" %}</p></th>
				<th><p>{% trans "title" %}</p></th>
				<!--<th></th>-->
				<th><p><a href="{% url 'news_create'%}">{% trans "Add" %}</a></p></th>				
			</tr>
		</thead>
		<tbody>
			{% for n in news %}
			<tr>
				<td>
					<p>{{ n.daten | date:"d.m.Y H:i"}}</p>
				</td>
				<td>
					<p>{{ n.title }}</p>						
				</td>
				<!--
				<td>
					{% if n.photo.url != None %}
					<img style="width:100%; max-width:256px; padding:10px" src="{{ n.photo.url}}" alt="{{ n.title }}">
					{% endif %}	
				</td>
				-->
				<td>
					<a href="{% url 'news_edit' n.id %}">{% trans "Change" %}</a> |
					<a href="{% url 'news_read' n.id %}">{% trans "View" %}</a> |
					<a onclick="return confirm('Удалить запись?')" href="{% url 'news_delete' n.id %}">{% trans "Delete" %}</a>
				</td>			
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<a href="{% url 'news_create'%}">{% trans "Create" %}</a>
{% endif %}
{% endblock content %}

