{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "contacts" %}</h3>
</div>
<div class="row">
	<div class="col-md-3">
		<h3 align="center">ТОО «ҒАЙСА KZ</h3>
		<p>г. Караганда, ул. Алиханова, 14б, офис 15/3</p>
		<address>
			<a href="mailto:gaisa38@mail.ru">gaisa38@mail.ru</a>						
		</address>				
		<p><a href="tel+77754544343">+7-775-454-4343</a><p>	
	</div>
	<div class="col-md-9" style="position:relative;overflow:hidden;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2574.8824558739257!2d73.08714671570819!3d49.8070774793918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42434726f6e2e131%3A0xf4c352a73927d03b!2z0YPQu9C40YbQsCDQkNC70LjRhdCw0L3QvtCy0LAgMTQsINCa0LDRgNCw0LPQsNC90LTQsCAxMDAwMDA!5e0!3m2!1sru!2skz!4v1678083728830!5m2!1sru!2skz" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>
{% endblock content %}