{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "constructions" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "constructions" %}</h2>
{% if construction.count > 0 %}
<div class="row">
	<table id="myTable" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th>{% trans "construction_title" %}</th>
				<th>{% trans "address" %}</th>
				<th>{% trans "customer" %}</th>
				<th>{% trans "completion" %}</th>
				<th>{% trans "price" %}</th>
				<!--<th></th>-->
				<th><a href="{% url 'construction_create'%}">{% trans "Add" %}</a></th>				
			</tr>
		</thead>
		<tbody>
			{% for n in construction %}
			<tr>
				<td>
					<p>{{ n.title }}</p>	
				</td>
				<td>				
					<p>{{ n.address }}</p>	
				</td>
				<td>				
					<p>{{ n.customer }}</p>	
				</td>
				<td>				
					<p>{{ n.completion }}</p>	
				</td>
				<td>				
					<p>{{ n.price }}</p>	
				</td>
				<td>
					<a href="{% url 'construction_edit' n.id %}">{% trans "Change" %}</a> |
					<a href="{% url 'construction_read' n.id %}">{% trans "View" %}</a> |
					<a onclick="return confirm('Удалить запись?')" href="{% url 'construction_delete' n.id %}">{% trans "Delete" %}</a>
				</td>			
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<a href="{% url 'construction_create'%}">{% trans "Add" %}</a>
{% endif %}
{% endblock content %}
